
/TF_Lite-Sine_Model/esp-Sine_Model/.vscode
/TF_Lite-MNIST_Digits/esp_mnist_digitos_wifi_ESPS3/esp_mnist_digitos_wifi/.vscode
/TF_Lite-MNIST_Digits/esp_mnist_digitos_wifi_ESPS3/esp_mnist_digitos_wifi/src/venv
/TF_Lite-CIFAR10/esp_cifar10/.vscode
/TF_Lite-CIFAR10/esp_cifar10/src/venv
/TF_Lite-Cifar10_MobileNetv2/esp_cifar10_MOBILE_NET/src/venv
